#header-div-left {
	padding-top:50px;
	padding-bottom:50px;
}

#header-div-right {
	padding-top:450px;
}


h1 {
	font-weight: 300; 
}

p, li {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 100; 
}

h1, h2, h3, h4, h5, h6, a {
	font-family: 'Oswald', Arial, sans-serif;
	color: #cc0033;
}

.website-header {
	font-size: 2em;
}

.recruit-header {
	font-size: 4em;
	line-height:0.7;
}


.recruit-header-grey {
	color:#C3C488;
	font-size: 4em;
	line-height:0.7;
}

.grey {
	color:#C3C488;
}

#exercise-date {
	color: #cc0033;
}

#know-more {
	font-family: 'Oswald', Arial, sans-serif;
	font-weight: 300; 
}

.header-row {
	background-repeat:no-repeat; 
	margin:0px;
}

#license-header {
	background-image: url(/static/imgs/background.jpg);
}

.header-highlight {
	background-color:rgba(0, 0, 0, 0.6);
	color:white;
}

.notes-box {
	background-color: #cc0033;
	padding-top: 1em;
	border-width: 1em;
	border-style: solid;
	border-color:white;
}

.notes-box-white {
	background-color: white;
	padding-top: 1em;
	border-width: 1em;
	border-style: solid;
	border-color:white;
}

.notes-box-white * {
	color:#222;
}

.notes-box * {
	color:white;
}


b {
	font-weight: 400; 
}