{% extends "layout.html" %}
{% block content %}
<div id="header-row">
<div class="row">
<div id="header-div-left" class="large-12 columns">
<h1><header class="website-header"><span class="header-highlight">&nbsp;ABBEY&nbsp;</span></header></h1><br>
<h1><header class="website-header"><span class="header-highlight">&nbsp;LICENSING&nbsp;</span></header></h1><br>
<h1><header class="website-header"><span class="header-highlight">&nbsp;EXERCISE&nbsp;</span></header></h1><br>
<a id="know-more" href="#know-more-content" class="button">LEARN MORE</a> <a id="know-more" href="http://abbey.tembusupac.org" class="success button">LICENSED? MAKE BOOKINGS HERE</a>
<h4><subheader class="header-highlight" >&nbsp;&nbsp;&nbsp;&nbsp;The next exercise is scheduled on: <span id="exercise-date">15 Jan 2014 7pm - 8pm&nbsp;&nbsp;&nbsp;&nbsp;</span></subheader></h4>
</div>
</div>
</div>
<div class="row">
<div class="large-12 columns" id="know-more-content">
<br>
<br>
<br>
<br>
<h2>WHY LICENSING?</h2>
<p>
PAC have been observing inappropriate uses of the music room (the Abbey) ever since the room's been set up to serve the desire of music lovers in Tembusu. Wires weren't coiled up properly, guitar amps were all around the room, stools and chairs in a mess. BUT we all do understand that these were done without no harmful intention. So PAC has come out with a the 'Abbey Licensing Exercise' exercise.
</p>
<br>
<br>
</div>
<hr/>
</div>

<div class="row">
<div class="large-12 columns">
<br>
<br>
<h2>WHAT'S THE EXERCISE ALL ABOUT?</h2>
<p>
The aim of this exercise is to equip apparent users (some of the active bands in Tembusu) and potential users (using on and off) with appropriate skills and procedures to using the musical equipment that we can prevent the damage on the equipment and cleanness of the room.
</p>
<p>
The exercise will be conducted <b>once a week</b> for the first three weeks of the <b>2013/14 semester 2</b>. Residents attended the exercise will be given license to make booking on the Abbey. Duration of the exercise is <b>30 minutes to 1 hour (most likely 30 minutes)</b>. It's a <b>walk-in</b> exercise.

</p>
<br>
<br>
<hr/>
</div>
</div>

<div class="row">
<div class="large-12 columns">
<br>
<br>
<h2>IMPORTANT NOTES</h2>
<div class="row">
<div class="notes-box large-3 columns">
<h4>DON'T PANIC, IT'S NOT LIKE A DRIVING TEST</h4>
<p>You will only be learning SIMPLE skills and procedures and just have to perform them to show us you are capable.</p>
</div>
<div class="notes-box large-3 columns">
<h4>IN CASE YOU MISSED THE FIRST THREE EXERCISES</h4>
<p>If you have missed the first three exercises, an additional exercise will be arranged in the middle of the semester. The date of the additioinal exercise will be published on this website</p>
</div>
<div class="notes-box large-3 columns">
<h4>BE RESPONSIBLE</h4>
<p>It is an entire liability of the booker who's got the license to compensate for damage. loss of anything in the Abbey</p>
</div>
<div class="large-3 columns">
</div>
</div>

<br>
<br>
</div>
</div>



{% endblock %}