	<!DOCTYPE html>
	<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
	<html class="no-js" lang="en" >

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Abbey Licensing Exercise</title>

		<!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
		<link rel="stylesheet" href="/static/foundation/css/normalize.css">
		<link rel="stylesheet" href="/static/foundation/css/foundation.css">
		<link rel="stylesheet" href="/static/app.css">
		<script src="/static/foundation/js/vendor/jquery.js"></script>

		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>


		<!-- If you are using the gem version, you need this only -->
		

		<script src="/static/foundation/js/vendor/custom.modernizr.js"></script>


	</head>
	<body>

	{% block content %}
	{% endblock %}



		<script src="/static/foundation/js/vendor/jquery.js"></script>
		<script src="/static/foundation/js/foundation.min.js"></script>	
		<script>
		$(document)
		  .foundation()
		</script>
	</body>

	<footer>
	<div style="margin:0px;">
<div class="row">
<div class="large-12 small-12 columns text-right">
<br>
<br>
<br>
<br>
<p class="subheader" style="color:#555555; font-size:0.8em">Performing Arts Council, Tembusu College</p>
<br>
</div>
</div>
</div>
	</footer>