{% extends "layout.html" %}
{% block content %}
<div class="header-row" id="recruit-header">
<br>
<br>
	<div class="row">
	<div class="large-12 columns">
	<h1><header class="recruit-header-grey">Performing Arts</header></h1><br>
	<h1><header class="recruit-header-grey">Council</header></h1><br>
	<h1><header class="recruit-header">Recruitment</header></h1><br>
	<h1><header class="recruit-header">2014</header></h1><br>
<br>
 <a id="know-more" href="http://tinyurl.com/tpac2014" class="button">SIGN UP NOW (by 29 Jan)</a>
	</div>
	</div>
</div>

<div class="row">
<div class="large-12 columns" id="know-more-content">
<br>
<br>
<hr/>
<br><br>

<h2>WHAT WE DO</h2>
<p>
Performing Arts Council (PAC) is a subcommittee under College Student Council (CSC) in Tembusu College. It aims to:
<ul><li>unify performing arts Interests Groups (IG)  towards common goals;</li>
<li>provide aid to performing arts IGs in getting funds from internal and external sources;</li>
<li>cultivate performing arts culture in Tembusu College;</li>
<li>encourage group interaction and provide a forum for discussion within the student performing arts community;</li>
<li>provide technical support for all performing arts IGs and individuals</li>
</ul>
</p>

<br>
<br>
</div>
<hr/>
</div>

<div class="row">
<div class="large-12 columns">
<br>
<br>
<h2>POSITIONS AND RESPONSIBILITIES</h2>
<div class="row">
<div class="notes-box-white large-12 columns">
<h4>PRESIDENT</h4>
<ul>
<li>Organise and preside over all regular meetings</li>
<li>Represent the voices of PAC</li>
<li>Oversee the running of the council and the Abbey</li>
</ul>
</div>

<div class="notes-box-white large-12 columns">
<h4>VICE-PRESIDENT</h4>
<ul>
<li>Assist the President in daily running of the council and the Abbey
</li>
<li>Gather and organize venues and performance preferences (Abbey bookings and equipment requests)</li>
<li>Respond to venue or scheduling conflicts or requests</li>
</ul>
</div>

<div class="notes-box-white large-12 columns">
<h4>SECRETARY</h4>
<ul>
<li>Oversee the organization and distribution of meeting agenda and document meeting minutes
</li>
<li>Draft proposal letters to relevant administrators</li>
<li>Keep records of past events and achievements of all performing arts IGs 
</li>
<li>Help performing arts IGs to formalize their funding request by providing their past records as the supporting document</li>
</ul>
</div>

<div class="notes-box-white large-12 columns">
<h4>OPERATION DIRECTOR</h4>
<ul>
<li>Propose and help execute new projects (workshop, performance, seminar, etc.)
</li>
</ul>
</div>

<div class="notes-box-white large-12 columns">
<h4>TECHNICAL DIRECTOR</h4>
<ul>
<li>Form and lead a technical team consists of 2-3 members to provide technical support for performing arts events within Tembusu College</li>
<li>Oversee the regular maintenance of the Abbey and its equipments</li>
</ul>
</div>

<div class="notes-box-white large-12 columns">
<h4>PUBLIC RELATIONS DIRECTOR</h4>
<ul>
<li>Update the website and the social network pages</li>
<li>Gather or consolidate information to promote the council, the performing arts IGs and performing arts events in Tembusu College</li>
</ul>
</div>

<div class="notes-box-white large-12 columns">
<h4>INNOVATION DIRECTOR</h4>
<ul>
<li>Maintain the proper running of the Abbey Booking System, Equipment Database and Online Record Logging System</li>
<li>Explore new opportunities in collaborating technologies and arts to serve the performing arts community in Tembusu College better</li>
</ul>
</div>

</div>

<br>
<br>
<center><h4><subheader class="grey">we want nobody nobody but you.</subheader></h4></center>
</div>

{% endblock %}